/* Lato Fonts */
@font-face {
    font-family: 'Lato-Regular';
    src: url('/assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Bold';
    src: url('/assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Italic';
    src: url('/assets/fonts/Lato/Lato-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-Light';
    src: url('/assets/fonts/Lato/Lato-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Black';
    src: url('/assets/fonts/Lato/Lato-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-Thin';
    src: url('/assets/fonts/Lato/Lato-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'Lato-BoldItalic';
    src: url('/assets/fonts/Lato/Lato-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-LightItalic';
    src: url('/assets/fonts/Lato/Lato-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-BlackItalic';
    src: url('/assets/fonts/Lato/Lato-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}
@font-face {
    font-family: 'Lato-ThinItalic';
    src: url('/assets/fonts/Lato/Lato-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

/* Playfair Display Fonts */
@font-face {
    font-family: 'PlayfairDisplay-Regular';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Bold';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Italic';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay-Medium';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-SemiBold';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-ExtraBold';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-Black';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'PlayfairDisplay-MediumItalic';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay-SemiBoldItalic';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay-ExtraBoldItalic';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}
@font-face {
    font-family: 'PlayfairDisplay-BlackItalic';
    src: url('/assets/fonts/Playfair_Display/PlayfairDisplay-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}