@theme {
    --color-background: #06223B;
    --color-light-text: #B4BECA;
    --color-button: #255A8B;
  
    --font-lato: Lato, sans-serif;
    --font-playfair: "Playfair Display", serif;
  }

  @layer base {
    body {
        @apply bg-background text-white font-lato;
    }
    h1, h2, h3, h4, h5, h6 {
        @apply font-playfair;
    }
}